.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--grey-4);
  margin: 0 auto;
  padding: 0.6rem;
}

.logoNu {
  max-width: 150px;
}

.divInfoLand {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 2.375rem;
  line-height: 3rem;
  color: var(--grey-0);
}

span {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  color: var(--grey-0);
}

.divInfoLand > button {
  max-width: 240px;
  height: 3rem;
  color: var(--grey-0);
  background: var(--color-primary);
  border: 0.125rem solid var(--color-primary);
  border-radius: 0.5rem;
  font-size: 1rem;
}

.divLogo {
  display: none;
}

@media (min-width: 320px) {
  .divInfoLand {
    width: 50%;
  }

  .divLogo {
    width: 80%;
    display: block;
  }

  .divLogo > img {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
}

@media (min-width: 768px) {
  body {
    width: 100%;
  }

  .divLogo {
    width: 35%;
  }

  .divInfoLand {
    width: 40%;
    max-width: 400px;
  }

  .divLogo {
    width: 60%;
    max-width: 600px;
    display: block;
  }

  .divLogo > img {
    width: 80%;
  }
}
